# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretórios de build
dist/
build/
.out/
.next/
.cache/
.vite/

# Ambiente
.env
.env.*

# IDEs e SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python (se usar backend Python)
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/